* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 10vh 70vh 10vh;
  grid-template-areas:
    'header header'
    'menu menu'
    'sidebar content'
    'footer footer';

  max-width: 1920px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  padding: 2rem;
  background-color: cadetblue;
}

.menu {
  grid-area: menu;
  padding: 2rem;
  background-color: blanchedalmond;
}

.sidebar {
  grid-area: sidebar;
  padding: 2rem;
  background-color: darkcyan;
}

.content {
  grid-area: content;
  padding: 2rem;
}

.footer {
  grid-area: footer;
  padding: 2rem;
  background-color: darkkhaki;
}

.nav-button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: transparent;
  margin-bottom: 1rem;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 1rem 1.5rem;
}

.primary {
  background: #f73263;
  color: #0d0d0d;
}

.secondary {
  background: #f7f7f7;
  border: solid 1px #f73263;
  color: #f73263;
  margin-left: 1rem;
}
